<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('tests/Fixtures')
    ->in(__DIR__)
    ->append([__DIR__ . '/php-cs-fixer']);
$config = PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        'align_multiline_comment'                     => [
            'comment_type' => 'all_multiline',
        ],
        'array_indentation'                           => true,
        'array_syntax'                                => [
            'syntax' => 'short',
        ],
        'backtick_to_shell_exec'                      => true,
        'binary_operator_spaces'                      => [
            'operators' => [
                '=>' => 'align_single_space_minimal',
            ],
        ],
        'blank_line_after_namespace'                  => true,
        'blank_line_after_opening_tag'                => true,
        'blank_line_before_statement'                 => [
            'statements' => [
                'continue',
                'exit',
                'for',
                'foreach',
                'if',
                'return',
                'switch',
                'try',
                'while',
            ],
        ],
        'braces'                                      => [
            'allow_single_line_closure' => true,
        ],
        'cast_spaces'                                 => [
            'space' => 'single',
        ],
        'class_keyword_remove'                        => false,
        'combine_consecutive_issets'                  => true,
        'combine_consecutive_unsets'                  => true,
        'combine_nested_dirname'                      => true,
        'compact_nullable_typehint'                   => true,
        'concat_space'                                => [
            'spacing' => 'one',
        ],
        'date_time_immutable'                         => false,
        'declare_strict_types'                        => false,
        'dir_constant'                                => true,
        'elseif'                                      => true,
        'encoding'                                    => true,
        'ereg_to_preg'                                => true,
        'explicit_indirect_variable'                  => true,
        'final_class'                                 => false,
        'fopen_flag_order'                            => true,
        'full_opening_tag'                            => true,
        'function_declaration'                        => [
            'closure_function_spacing' => 'none',
        ],
        'function_typehint_space'                     => true,
        'implode_call'                                => true,
        'include'                                     => true,
        'indentation_type'                            => true,
        'is_null'                                     => false,
        'line_ending'                                 => true,
        'linebreak_after_opening_tag'                 => true,
        'list_syntax'                                 => [
            'syntax' => 'long',
        ],
        'logical_operators'                           => true,
        'lowercase_cast'                              => true,
        'lowercase_keywords'                          => true,
        'lowercase_static_reference'                  => true,
        'magic_constant_casing'                       => true,
        'magic_method_casing'                         => true,
        'mb_str_functions'                            => true,
        'method_argument_space'                       => [
            'on_multiline' => 'ensure_fully_multiline',
        ],
        'method_chaining_indentation'                 => true,
        'modernize_types_casting'                     => true,
        'multiline_comment_opening_closing'           => false,
        'multiline_whitespace_before_semicolons'      => [
            'strategy' => 'no_multi_line',
        ],
        'native_function_invocation'                  => false,
        'native_function_casing'                      => true,
        'native_function_type_declaration_casing'     => true,
        'new_with_braces'                             => true,
        'no_alternative_syntax'                       => true,
        'no_blank_lines_after_class_opening'          => true,
        'no_blank_lines_after_phpdoc'                 => false,
        'no_break_comment'                            => [
            'comment_text' => 'Intentional fall-through',
        ],
        'no_closing_tag'                              => true,
        'no_empty_comment'                            => true,
        'no_empty_phpdoc'                             => true,
        'no_empty_statement'                          => true,
        'no_extra_blank_lines'                        => [
            'tokens' => [
                'extra',
            ],
        ],
        'no_homoglyph_names'                          => true,
        'no_leading_import_slash'                     => true,
        'no_leading_namespace_whitespace'             => true,
        'no_mixed_echo_print'                         => [
            'use' => 'echo',
        ],
        'no_multiline_whitespace_around_double_arrow' => true,
        'no_null_property_initialization'             => true,
        'no_php4_constructor'                         => true,
        'no_short_bool_cast'                          => true,
        'no_short_echo_tag'                           => true,
        'no_singleline_whitespace_before_semicolon'   => true,
        'no_spaces_after_function_name'               => true,
        'no_spaces_around_offset'                     => [
            'positions' => [
                'inside',
                'outside',
            ],
        ],
        'no_spaces_inside_parenthesis'                => true,
        'no_trailing_comma_in_list_calls'             => true,
        'no_trailing_comma_in_singeline_array'        => true,
        'no_trailing_whitespace'                      => true,
        'no_trailing_whitespace_in_comment'           => true,
        'no_unset_cast'                               => true,
        'no_unset_on_property'                        => true,
        'no_unused_imports'                           => true,
        'no_whitespace_before_comma_in_array'         => true,
        'normalize_index_brace'                       => true,
        'not_operator_with_space'                     => false,
        'not_operator_with_successor_space'           => false,
        'object_operator_without_whitespace'          => true,
        'php_unit_construct'                          => true,
        'php_unit_internal_class'                     => false,
        'php_unit_method_casing'                      => [
            'case' => 'camel_case',
        ],
        'php_unit_test_class_requires_covers'         => false,
        'phpdoc_add_missing_param_annotation'         => true,
        'phpdoc_annotation_without_dot'               => true,
        'psr4'                                        => true,
        'random_api_migration'                        => true,
        'return_assignment'                           => true,
        'return_type_declaration'                     => [
            'space_before' => 'none',
        ],
        'short_scalar_cast'                           => true,
        'single_blank_line_at_eof'                    => true,
        'single_blank_line_before_namespace'          => true,
        'single_class_element_per_statement'          => true,
        'single_import_per_statement'                 => true,
        'single_line_after_imports'                   => true,
        'phpdoc_summary'                              => false,
        'final_internal_class'                        => false,
        'single_line_comment_style'                   => [
            'comment_types' => [
                'hash',
            ],
        ],
        'single_quote'                                => [
            'strings_containing_single_quote_chars' => true,
        ],
        'single_trait_per_statement'                  => true,
        'standardize_increment'                       => true,
        'standardize_not_equals'                      => true,
        'strict_comparisons'                          => true,
        'switch_case_semicolon_to_colon'              => true,
        'switch_case_space'                           => true,
        'ternary_operator_spaces'                     => true,
        'ternary_to_null_coalescing'                  => true,
        'trailing_comma_in_multiline_array'           => true,
        'visibility_required'                         => true,
        'void_return'                                 => true,
        'whitespace_after_comma_in_array'             => true,
        'yoda_style'                                  => false,
    ])
    ->setFinder($finder);

return $config;
